<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style> 
</style>

<main>
  <div class="container">
    <section>
      <app-header></app-header>
    </section>
    <section class="hero">
      <h2>Bem vindo ao nosso Marketplace de desenvolvedores</h2>
      <p>Descubra desenvolvedores incríveis com ótimos preços por hora.</p>
    </section>
    <section class="produtos">
      <h2>Desenvolvedores em destaque</h2>
      <div class="produtos-grid">
        <app-produto-card *ngFor="let i of [1,2,3,4,5,6]"></app-produto-card>
      </div>
    </section>
  </div>
</main>

<router-outlet />
